@import "tailwindcss";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');




*{
  
    box-sizing: border-box;
   
}



body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    /* color: black; */
    background-color: #d9dbdf;
    overflow-x: hidden;
}